<h1>Details</h1>
<p>Name: {{ name }}</p>
<p>City: {{ city }}</p>
<p>County: {{ county }}</p>
<p>Phone: {{ phone }}</p>
<p>Phone: {{ homepage }}</p>
<p>E-mail: {{ email }}</p>
<p>Latitude: <span class="lat">{{ lat }}</span></p>
<p>Longitude: <span class="long">{{ long }}</span></p>
<p>Address: {{ address }}</p>
<p>Number of beds available: {{ bed_count }}</p>
<p>Has emergency clinic: {{ emergency }}</p>
<p>Opening year: {{ opening_year }}</p>
<p>Comment from dbpedia: {{ comment }}</p>
<button id="send-coords">Click me</button>
