<h1>Details</h1>
<p>Name: {{ name }}</p>
<p>City: {{ city }}</p>
<p>County: {{ county }}</p>
<p>Phone: {{ phone }}</p>
<p>E-mail: {{ email }}</p>
<p>Latitude: <span class="lat">{{ lat }}</span></p>
<p>Longitude: <span class="long">{{ long }}</span></p>
<p>Address: {{ address }}</p>
<button id="send-coords">Click me</button>
