<h1>Details</h1>
<ul class="list-group">
  {{#temp}}
    <li class="list-group-item">Name: {{ name }}</li>
    <li class="list-group-item">City: {{ city }}</li>
    <li class="list-group-item">County: {{ county }}</li>
    <li class="list-group-item">Phone: {{ phone }}</li>
    <li class="list-group-item">Homepage: {{ homepage }}</li>
    <li class="list-group-item">E-mail: {{ email }}</li>
    <li class="list-group-item">Latitude: <span class="lat">{{ lat }}</span></li>
    <li class="list-group-item">Longitude: <span class="long">{{ long }}</span></li>
    <li class="list-group-item">Address: {{ address }}</li>
  {{/temp}}
  {{#dbpList}}
    <li class="list-group-item">Number of beds: {{ bed_count }}</li>
    <li class="list-group-item">Has emergency unit: {{ emergency }}</li>
    <li class="list-group-item">Opening year: {{ opening_year }}</li>
    <li class="list-group-item">Abstract: {{ abstract }}</li>
  {{/dbpList}}
</ul>
<button class="btn btn-primary" id="send-coords">Click me</button>
