<h1>Details</h1>
<p>Name: {{ name }}</p>
<p>City: {{ city }}</p>
<p>County: {{ county }}</p>
<p>Phone: {{ phone }}</p>
<p>E-mail: {{ email }}</p>
<p>Latitude: {{ lat }}</p>
<p>Longitude: {{ long }}</p>
