<h1>Details</h1>
<p>Name: {{ json name }}</p>
<p>City: {{ json city }}</p>
<p>County: {{ json county }}</p>
<p>Phone: {{ json phone }}</p>
<p>E-mail: {{ json email }}</p>
<p>Latitude: {{ json lat }}</p>
<p>Longitude: {{ json long }}</p>
